@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white-clr: #fff;
    --black-clr: #000;
    --light-clr: #333;
    --primary-clr: #e6303d;
    --secondary-clr: #eee;
    --tag-clr: #7cc576;
}

/* Basic Styling */

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--primary-clr);
}

img{
    height: 100%;
    width: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 80%;
    margin: auto;
}

.section{
    padding-top: 0.1rem;
}

.wrap{
    flex-wrap: wrap;
}

.secondary-bg{
    background: var(--secondary-clr);
    padding-block: 2.2rem;
}

/* Navbar Styiling */

header{
    background-color: var(--white-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 0.31rem 0.9rem 0.05rem rgba(36 , 11 , 12 , .05);
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-clr);
}


.link{
    font-size: 0.95rem;
    color: var(--light-clr);
    font-weight: 500;
}

.icon{
    font-size: .9rem;
    color: var(--light-clr);
    /* background: var(--secondary-clr); */
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 50%;
}

.icon:hover,
.icon-active{
    background: var(--secondary-clr);
}

span,
.link-active,
.icon-active{
    color: var(--primary-clr);
}

.navbar{
    height: 12vh;
    justify-content: space-between;
}

.navlist{
    gap: 2.5rem;
}

.hamburger{
    font-size: 1.7rem;
    color: var(--primary-clr);
    display: none;
}

/* sections styling */

.hero{
    height: 115vh;
    background-image: url("images/hero-image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4.8rem;
}

.hero-content{
    height: 100%;
    justify-content: flex-end;
}

h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
    color: var(--light-clr);
}

h1{
    font-size: 4rem;
    font-size: 600;
    line-height: 4rem;
    color: var(--light-clr);
}

h4{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

button{
    font-weight: 600;
    font-size: .9rem;
    padding: .8rem 2rem;
    text-transform: uppercase;
    color: var(--white-clr);
    background-color: var(--primary-clr);
    border: none;
    transition: all .2s ease-in-out;
}

button:hover{
    background-color: var(--light-clr);
}

.category-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 1.7rem;
}

.category:nth-child(1),
.category:nth-child(4){
    grid-row: 1 / 3;
}

.category:nth-child(2){
    grid-row: 1 / 2;
}

.category{
    position: relative;
    overflow: hidden;
}


.category button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-weight: 500;
    background: var(--white-clr);
    color: var(--light-clr);
    z-index: 3;
}

.category button:hover{
    background: var(--primary-clr);
    color: var(--white-clr);
}

.category:hover img{
    transform: scale(1.1);
}

.category::before{
    content: '';
    position: absolute;
    background: var(--black-clr);
    width: 0;
    height: 100%;
    opacity: 0.2;
    z-index: 2;
    transition: all .3s ease-in-out;
}


.category:hover::before{
    width: 100%;
    /* height: 100%; */
}

h2{
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    font-weight: 500;
    color: var(--light-clr);
}

.line{
    background: var(--primary-clr);
    width: 60px;
    height: 2.5px;
    margin: auto;
}

.card-container{
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

.card{
    border-right: 1px solid #efefef;
    flex: 1;
    padding-block: 3.1rem;
    margin-bottom: 2rem;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.card:hover{
    box-shadow: 0px 5px 19px 1px rgba(36 , 11 , 12 , .15);
    z-index: 3;
}

.card-content{
    padding : 0 3rem;
}

.title{
    font-size: 1rem;
    color: var(--light-clr);
    line-height: 1.7rem;
}

.price{
    margin-top: 1rem;
}

del{
    color: #a59d9d;
}

.amount{
    font-size: 1.1rem;
    font-weight: 600;
}

.add-to-cart{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    transform: translateY(20rem);
    /* opacity: 0; */
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.card:hover .add-to-cart{
    /* opacity: 1; */
    transform: translateY(19.5rem);
    visibility: visible;
}

.sale::before,
.new::before{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .2rem 1.3rem;
    color: var(--white-clr);
    font-weight: 300;
}

.new::before{
    content: 'New';
    background: var(--tag-clr);
}

.sale::before{
    content: 'Sale';
    background: var(--primary-clr);
}

.sale-container{
    padding-block: 3.5rem;
    text-align: center;
    background-image: url("images/sale-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sale-container h3{
    font-weight: 200;
    font-size: 1.56rem;
    line-height: 1.6rem;
}

.sale-container h1{
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3rem;
}

.sale-container .line{
    width: 17%;
    background: #c5c5c5;
}

.sale-container h4{
    font-size: 1.2rem;
    color: #6e6e6e;
    line-height: 3.5rem;
}

.box{
    flex: 1;
    text-align: center;
    margin-block: 1rem;
    flex-basis: 200px;
}

.box .fa-solid{
    font-size: 1.5rem;
    color: var(--primary-clr);
}

h5 a{
    font-size: 1.1rem;
    color: var(--light-clr);
    font-size: 500;
    line-height: 2rem;
}

.des{
    color:#6e6e6e;
    font-size: .9rem;
    font-weight: 400;
}

.blog-container{
    margin-top: 3rem;
    gap: 2rem;
}

.blog-box{
    flex: 1;
    position: relative;
    flex-basis: 300px;
}

.blog-box::before{
    content: '';
    position: absolute;
    background: rgba(0 , 0 , 0 , .8);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: all .3s ease-in-out;
}

.blog-box:hover::before{
    width: 100%;
}

.blog-content{
    position: absolute;
    top: 50%;
    left: 35%;
    padding-inline: 2rem;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

.heading{
    font-size: 1.1rem;
    line-height: 4rem;
    font-weight: 500;
}

.blog-content *{
    color: var(--secondary-clr);
}

.blog-link{
    font-size: .9rem;
    font-weight: 600;
    line-height: 5rem;
    color: var(--primary-clr);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-transform: uppercase;
}

.blog-box:hover .blog-content{
    left: 50%;
    opacity: 1;
    visibility: visible;
}

form{
    gap: 3rem;
}

form h3{
    font-size: 1.4rem;
}

.input-container{
    flex: 1;
    align-items: stretch;
}

#email{
    border: none;
    flex: 1;
    font-size: 1rem;
    padding-left: 1.1rem;
}

#email:focus{
    outline: none;
}

.social-icons{
    gap: 1.2rem;
    justify-content: flex-end;
}

.media{
    font-size: 1.2rem;
    color: var(--light-clr);
}

/* footer here */

footer{
    background: var(--light-clr);
}

.footer-container{
    padding-bottom: 3rem;
}

.footer-list{
    flex: 1;
    padding-block: 1rem;
    flex-basis: 200px;
}

.footer-link{
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--secondary-clr);
    line-height: 2.25rem;
}

.footer-bottom{
    text-align: center;
    color: var(--secondary-clr);
    padding-block: .85rem;
    border-top: .045rem solid #ebebeb;
    font-size: .9rem;
}


.detail{
    font-size: .95rem;
    line-height: 1.75rem;
    color: var(--secondary-clr);
}










@media screen and (max-width: 700px){
    .navlist{
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--black-clr);
        padding: 2rem;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }

    .navlist-active{
        transform: translateY(18%);
    }

    .nav-icons a,
    link:hover,
    .link-active{
        color: var(--primary-clr);
    }

    .hamburger{
        display: block;
    }

    .container{
        max-width: 95%;
    }

    .hero{
        height: 60vh;
    }

    .hero-text{
        width: 13rem;
    }

    h3{
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    h1{
        font-size: 1.5rem;
        line-height: 4rem;
    }

    h4{
        font-size: 0.8rem;
        line-height: 2rem;
    }

    .hero-text button{
        margin-left: 2rem;
    }

    .category-container{
        grid-template-columns: 1fr;
    }

    .category:nth-child(1),
    .category:nth-child(2),
    .category:nth-child(4){
        grid-row: auto;
    }
}